header {
	background-color: black;
}

header h1 {
	color: white;
	padding: 5rem 0 0 1rem;
}

header h2 {
	color: white;
	padding: 1rem 0 0 1rem;
}

nav {
	background-color: gray;
	height: 2rem;
	padding: 1rem 0 0 1rem;
}

nav a  {
	padding: 1rem 1rem 1rem 1rem;
}

body {
	background-color: white;
}

.call-to-action {
	color:firebrick;
	float: right;
	max-width: 20rem;
	height: 3rem;
	padding-top: 1rem;
	padding-right: 1rem;
}

figure {
	/*  overflow: auto;*/
	float: left;
	width: 10rem;
}

figure img {
	width: 10rem;
}

footer {
	background-color: black;
	border: none;
	clear: both;
}

footer p {
	color: white;
}

nav {
	clear: both;
}

.leftHandSide {
	float: left;
	width: 50%;
	padding-left: 1rem;
}

.rightHandSide {
	float: right;
	width: 50%;
}