header {
	background-color: black;
}

header h1 {
	color: white;
	padding: 5rem 0 0 1rem;
}

header h2 {
	color: white;
	padding: 1rem 0 0 1rem;
}

main {
	line-height: 1.5rem;
}

nav {
	background-color: gray;
	height: 2rem;
	padding: 1rem 0 0 1rem;
}

nav a {
	padding: 1rem 1rem 1rem 1rem;
}

body {
	background-color: white;
}

.call-to-action {
	color: firebrick;
	float: right;
	max-width: 20rem;
	height: 3rem;
	padding-top: 1rem;
	padding-right: 1rem;
}

.motto {
	padding-top: 2rem;
	text-align: center;
}

.center-text {
	text-align: center;
}

figure img {
	width: 10rem;
}

footer {
	background-color: black;
	border: none;
	clear: both;
	padding-top: 2rem;
}

footer p {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1rem;
}

footer a {
	color: firebrick;
}

nav {
	clear: both;
}

.leftHandSide {
	float: left;
	width: 50%;
	padding-left: 1rem;
	height: 30rem;
}

.aside {
	float: right;
	width: 50%;
	/*	border is not working.  Why oh why? */
	border: 20rem black solid;
	height: 30rem;
}